<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
	<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
	<nav style='width:100%; max-width:100%; background:white; height:50px; justify-content:space-between; display:flex'>
	 	<div style="display: flex; align-items: center">
	        <div  style='display:flex; cursor:pointer; margin:11px; flex-direction:column'>
	            <div style='display:flex; flex-direction:row'>
	                <span style='background:black; width:10px;height:10px; margin:2px'> </span>
	                <span style='background:black; width:10px;height:10px; margin:2px'> </span>
	            </div>
	            <div style='display:flex; flex-direction:row'>
	                <span style='background:black; width:10px;height:10px; margin:2px'> </span>
	                <span style='background:black; width:10px;height:10px; margin:2px'> </span>
	            </div>
	        </div>
	        <p class="bold">CLV App</p>
	    </div>
	    <div>
	    	<a class="nav__link" href="/">Home</a>
	        <a class="nav__link" href="/about">About</a>
	        <a class="nav__link" href="/upload">Upload Data</a>
	        <a class="nav__link" href="/describe">Data Description</a>
	        <a class="nav__link" href="/rfm">Customer Segmentation</a>
	        <a class="nav__link" href="/predict">Prediction</a>
	    </div>
    </nav>
	<h1>About</h1>
	<p>We are building a new way to accurately measure the lifetime value of your customers using the power of machine learning...</p>
</body>
</html>