<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Sharon Chidinma CLV App</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">s 
  <script type="text/javascript" src="/static/js/chart.js"></script>
  <!-- =======================================================
  * Template Name: Arsha - v2.0.0
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top " style="background: rgba(40, 58, 90, 0.9);">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="/">Sharon's CLV APP</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="static/assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li ><a href="/">Home</a></li>
          <li><a href="/upload">Upload data</a></li>
          <li class="active"><a href="/describe">Data Description</a></li>
          <li><a href="/rfm">Customer Segmentation</a></li>
          <li><a href="/predict">Prediction</a></li>
          <li><a href="/#about">About</a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->
  <section id="why-us" class="why-us section-bg">
      <div class="container-fluid" data-aos="fade-up">

        <div class="row">

          	<div style="background: white; margin-top:50px" class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
	            <section id="contact" class="contact" style="padding:100px;">
	              <div class="container" data-aos="fade-up">

	                <div class="section-title">
	                  <h2>Customer data visualization</h2>
	                </div>
	                	
	                <div class="row php-email-form mt-lg-0 d-flex align-items-stretch">
	                	<div class="col-lg-12" style="align-items: center;">
							<div class="col-12 form-group">
								<label style="width: 100%">
									Select country for description
									<select style="width:100%" class="form-control" id="countries">
										<option value="country">Country</option>
										
									</select>
								</label>
							</div>
							<div class="col-12">
								<div class="row">
									<div class="col-6 form-group">
										<label>
											Choose visualization
											<select class="form-control" id="visualization">
												<option value="month_vs_revenue">Revenue vs Month</option>
												<option value="month_vs_revenue_growth">Revenue growth vs Month</option>
												<option value="month_vs_cust">Number of Customers vs Month</option>
												<option value="month_vs_trans">Number of Transactions vs Month</option>
												<option value="quantity_vs_month">Quantity bought vs month</option>
											</select>
										</label>
									</div>
									<div class="col-6 form-group">
										<label style="width: 100%">
											Type of graph
											<select class="form-control" id="graph_type">
												<option value="bar">Bar chart</option>
												<option value="line">Line graph</option>
											</select>
										</label>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row" style="align-items: center; width:100%">
							<div class="col-12" style="text-align: center; justify-content: center;">
								<button id="visualize" class="button">Visualize</button>
							</div>
						</div>
	                </div>

	              </div>
	            </section>
          	</div>
          	<div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("static/assets/img/hero-img.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= About Us Section ======= -->
  	<section id="about" class="about">
    	<div class="container" data-aos="fade-up">
      		<div class="section-title">
        		<h2>Results</h2>
      		</div>
      		<div class="row">
				<div class="col-6" id="chart_container">
					<canvas id="myChart1" width="400" height="400"></canvas>
				</div>
				<div class="col-6 hide" id="table_container">
					<table class="shadow" style="background: white">
						<thead>
							<tr class="table__row">
								<th class="table__column" id="x_axis"></th>
								<th class="table__column" id="y_axis"></th>
							</tr>
						</thead>
						<tbody id="table__body">
							
						</tbody>
					</table>
				</div>
			</div>
    	</div>
  	</section><!-- End About Us Section -->

  	<script type="text/javascript">
		var DATA = ({{data | safe}});
		var COUNTRIES = [];
		var MONTHS = [];
		var GRAPH_DATA = [];
		var TITLE = '';
		var COUNTRY_DATA = [];
		var SELECTED_COUNTRY = null;

		DATA = DATA.map(function(datum){
			var invoice_date = new Date(datum['invoicedate']);
			datum['invoicedate'] = `${invoice_date.getFullYear()}-${invoice_date.getMonth()+1}`
			return datum
		})

		
	</script>

	<script type="text/javascript" src="/static/js/scripts.js"></script>
  <!-- ======= Footer ======= -->
  <footer id="footer">

   

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Sharon Chidimma Okeakwalam</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Website template designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  
  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/venobox/venobox.min.js"></script>
  <script src="static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>