<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Sonia Amarachi Ohanaba CLV App</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  	<link href="static/assets/css/style.css" rel="stylesheet">
  	<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
	<script type="text/javascript" src="/static/js/chart.js"></script>

  <!-- =======================================================
  * Template Name: Arsha - v2.0.0
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top " style="background: rgba(40, 58, 90, 0.9);">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="/">Sonia's CLV APP</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="static/assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/upload">Upload data</a></li>
          <li><a href="/describe">Data Description</a></li>
          <li class="active"><a href="/rfm">Customer Segmentation</a></li>
          <li><a href="/predict">Prediction</a></li>
          <li><a href="/#about">About</a></li>

        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->
  <section id="why-us" class="why-us section-bg">
      <div class="container-fluid" data-aos="fade-up">

        <div class="row">

          	<div style="background: white; margin-top:50px" class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
	            <section id="contact" class="contact" style="padding:100px;">
	              <div class="container" data-aos="fade-up">

	                <div class="section-title">
	                  <h2>Recency, Frequency and Monetary values description for customers</h2>
	                </div>
	                
	                <div class="col-lg-12 php-email-form mt-lg-0 d-flex align-items-stretch">
	                  	<div class="row" style="align-items: center;">
							<div class="col-6 form-group">
								<label>
									Select country for description
									<select class="form-control" id="countries">
										<option value="country">Country</option>
										
									</select>
								</label>
							</div>
							<div class="col-6 form-group">
								<label>
									Select scatter plot/table to display
									<select class="form-control" id="comparison">
										<option value="cust">Customer Segmentation</option>
										<option value="fvsm">Frequency vs Monetary</option>
										<option value="rvsf">Recency vs Frequency</option>
										<option value="rvsm">Recency vs Monetary</option>
										
									</select>
								</label>
							</div>
							<div class="col-12" style="text-align: center; justify-content: center;">
								<button id="visualize" class="button">Visualize</button>
							</div>
						</div>
	                </div>

	              </div>
	            </section>
          	</div>
          	<div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("static/assets/img/hero-img.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= About Us Section ======= -->
  	<section id="about" class="about">
    	<div class="container" data-aos="fade-up">
      		<div class="section-title">
        		<h2>Results</h2>
      		</div>
      		<div class="row content">
				<div class="col-6" id="chart_container">
					<canvas id="myChart1" width="400" height="400"></canvas>
				</div>
				<div id="key_container" class="col-4 hide">
					<div id="chart_key" class="col-12" >
						<h2>Legend</h2>
						<span style="display: flex; flex-direction: row; align-items: center;">
							High-Value 
							<span style="background:green; width: 40px; height: 40px; border-radius: 50%; margin:20px; display: inline-block;"></span>
						</span>
						<span style="display: flex; flex-direction: row; align-items: center;">
							Mid-Value 
							<span style="background:blue; width: 40px; height: 40px; border-radius: 50%; margin:20px; display: inline-block;"></span>
						</span>
						<span style="display: flex; flex-direction: row; align-items: center;">
							Low-Value
							<span style="background:red; width: 40px; height: 40px; border-radius: 50%; margin:20px; display: inline-block;"></span>
						</span>
					</div>
				</div>
				<div class="col-12 hide col-offset-3" id="table_container">
					<h2>Customer segmentation table</h2>
					<table class="shadow" style="background: white">
						<thead>
							<tr class="table__row">
								<th class="table__column" id="x_axis"></th>
								<th class="table__column" id="y_axis"></th>
							</tr>
						</thead>
						<tbody id="table__body">
							
						</tbody>
					</table>
				</div>
			</div>
    	</div>
  	</section><!-- End About Us Section -->
  	<script type="text/javascript">
		var DATA = ({{data | safe}});
		var GRAPH_DATA = []
		var COUNTRIES = []
		var COUNTRY_DATA = [];
		var SELECTED_COUNTRY = [];

	</script>

	<script type="text/javascript">
		// add visualize button event listener
		var visualize_button = document.getElementById("visualize");
		visualize_button.addEventListener("click", function(event){
			var countries_selector = document.getElementById("countries")
			SELECTED_COUNTRY = COUNTRIES[countries_selector.value];
			set_country_data(SELECTED_COUNTRY['name']);

			var comparison = document.getElementById("comparison");
			display_data(comparison.value, COUNTRY_DATA, "Scatter graph")
			window.scrollTo(0,500)
		})

		// event listener for dynamically showing graphs
		// var countries_selector = document.getElementById("countries");
		// countries_selector.addEventListener("change", function(event){
		// 	var country_index  = event.target.value;
		// 	SELECTED_COUNTRY = COUNTRIES[country_index];
			
		// 	set_country_data(SELECTED_COUNTRY['name']);
			
		// 	display_data('scatter', COUNTRY_DATA, "Scatter graph")
		// });

		function add_select_options(data, select_tag, value_key, inner_html_key){
			var select_element = document.getElementById(select_tag);
			select_element = clear_node(select_element);
			for (var i = 0; i < data.length; i++){
				var option = document.createElement("option");
				option.value = data[i][value_key];
				option.innerHTML = capitalize(data[i][inner_html_key]);
				select_element.appendChild(option);
			}
		}

		function capitalize(text_string){
			return text_string[0].toUpperCase() + text_string.slice(1,);
		}


		function filter_countries(){
			var countries = [];
			for(var i = 0; i < DATA.length; i++){
				if(countries.indexOf(DATA[i]['country']) < 0){
					countries.push(DATA[i]['country']);
				}
			}
			countries = countries.map(function(country, index){
				return {
					name: country,
					index: index+1
				}
			})

			var all_countries = {'name': 'All', 'index':0}
			countries.unshift(all_countries)

			COUNTRIES = countries.slice(0,);
		}

		// fill the country selector list at page load
		filter_countries()
		add_select_options(COUNTRIES, "countries", "index", "name")

		function set_country_data(country){
			COUNTRY_DATA = DATA.filter(function(data_point){
				if(country == 'All'){
					return true;
				}
				if(data_point['country'] == country){
					return true;
				}
				return false;
			})
		}

		function clear_node(node){
			while(node.firstChild){
				node.removeChild(node.firstChild);
			}
			return node;
		}


		function generate_graph_data(data, x_axis, y_axis){
			var segments = {
				"Mid-Value": "blue",
				"Low-Value": "red",
				"High-Value": "green"
			}
			return data.map(function(datum){
				return {
					'x': datum[x_axis],
					'y': datum[y_axis],
					'segment': segments[datum['Segment']]
				}
			})
		}

		function create_canvas(name){
			var new_canvas = document.createElement('canvas');
			new_canvas.id = name;
			new_canvas.width = "350";
			new_canvas.height = "350";

			return new_canvas;
		}

		function createElement(tag_name, classes, innerHTML, dataset){
			var element = document.createElement(tag_name);
			element.className = classes;
			element.innerHTML = innerHTML;
			if(dataset){
				for(var property in dataset){
					element.dataset[property] = dataset[property];
				}
			}
			return element;
		}

		function display_table(x_axis_title, y_axis_title, data){
			var x_axis = document.getElementById('x_axis');
			x_axis.innerHTML = x_axis_title;
			var y_axis = document.getElementById('y_axis');
			y_axis.innerHTML = y_axis_title;
			var table__body	= document.getElementById("table__body");
			var table_container = document.getElementById("table_container");
			clear_node(table__body);
			table_container.classList.remove("hide");
			var chart_container = document.getElementById("chart_container");
			chart_container.classList.add("hide")
			var chart_keys = document.getElementById("key_container");
			chart_keys.classList.add("hide");

			var segments = [
				{
					"name": "Low-Value",
				},
				{
					"name": "Mid-Value",
				},
				{
					"name": "High-Value",
				}
			]

			for(var i = 0; i < segments.length; i++){
				var class_name = (i % 2 == 0) ? "table__row" : "table__row table__row--odd";
				var table__row = createElement("tr",class_name," ");
				var customers_list = data.filter((datum) => {

					if( datum['Segment'] == segments[i]['name']){
						return true;
					}
				})
				var table_x_axis = createElement("td", "table__column", customers_list.length);
				var table_y_axis = createElement("td", "table__column", segments[i]['name']);
				table__body.appendChild(table__row);
				table__row.appendChild(table_x_axis);
				table__row.appendChild(table_y_axis);
			}
		}

		function display_data(comparison, data, title){
			// clear the chart node
			var chart_container = document.getElementById("chart_container");
			chart_container.classList.remove("hide");
			var table_container = document.getElementById("table_container");
			table_container.classList.add("hide");
			var chart_keys = document.getElementById("key_container");
			chart_keys.classList.remove("hide");
			var chart_comparisons = {
				"rvsm": {
					"x": "Recency",
					"y": "Monetary",
				},
				"rvsf": {
					"x": "Recency",
					"y": "Frequency",
				},
				"fvsm": {
					"x": "Frequency",
					"y": "Monetary",
				}
			}

			if (comparison == "cust"){
				// for customer segmentation table
				display_table("Number of customers", "Segment", data)
				return;
			}

			var selected_comparison = chart_comparisons[comparison]

			chart_container = clear_node(chart_container);

			var chart1 = create_canvas("chart1");
			
			chart_container.appendChild(chart1);
			
			GRAPH_DATA = generate_graph_data(data, selected_comparison["x"], selected_comparison["y"] )
			display_scatter_graph(GRAPH_DATA, `${selected_comparison['x']} vs ${selected_comparison['y']}`, "chart1");
		}

		function display_scatter_graph(data, title, chart_id){
			var ctx = document.getElementById(chart_id);
			var background_colors = data.map(function(datum){
				return datum['segment'];
			});

			var labels = data.map(function(datum){
				var segments = {'red': 'Low-Value', 'blue':'Mid-Value', 'green':'High-Value'}
				return segments[datum['segment']]
			});

			
			var myChart = new Chart(ctx, {
			    type: 'scatter',
			    data: {
			        labels: labels,
			        datasets: [{
			            label: title,
			            data: GRAPH_DATA,
			            backgroundColor: background_colors,
			            pointRadius: 7
			        }],
			
			    },
			    options: {
			    	tooltips: {
				        callbacks: {
				            label: function(tooltipItem, data) {
				               var label = data.labels[tooltipItem.index];
				               return label + ': (' + tooltipItem.xLabel + ', ' + tooltipItem.yLabel + ')';
				            }
				        }
				    },
			    	response:true,
			    	legend: {
			    		display: true,
			    		position: 'bottom',
			    		labels : {
			    			fontColor: "#000"
			    		}
			    	},
			        scales: {
			            yAxes: [{
			                ticks: {
			                    beginAtZero: true
			                }
			            }]
			        }
			    }
			});
		}	
	</script>
  

  <!-- ======= Footer ======= -->
  <footer id="footer">

   

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Sonia Amarachi Ohanaba</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Website template designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  
  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/venobox/venobox.min.js"></script>
  <script src="static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>